{% macro cards(elements) %}
{% for element in elements%}
<div class="custom-card">
    <img src="{{ url_for('get_static_file', directoryname='img' ,filename=element.foto)}}" class="custom-card-image"
        loading="lazy" alt="{{element.foto}}">
    <div class="custom-card-text">
        <h5 class="custom-card-title">{{element.full_name}}</h5>
    </div>
    <div class="custom-card-buttons">
        <button class="custom-card-button">Ver Detalles</button>
        <button id="newVote" class="custom-card-button"
            onclick="showPopup({{element.id}}, {{element.candidature}})">Votar</button>
    </div>
</div>
{% endfor %}
{% endmacro %}