<script src="../../static/js/actions.js"></script>
<script src="../../static/js/local_storage.js"></script>
<script src="../../static/js/api.js"></script>
<script src="../../static/js/user.js"></script>
<script src="../../static/js/main.js"></script>