{% extends "body.j2" %}{% block content %}
{% from 'componentes/sideBar.j2' import sideBar with context %}

{# <img class="menu_icon" src="../../static/svg/menu.svg" loading="lazy" alt="Menú">
{{sideBar("Candidaturas", candidatures)}} #}
<div class="messages_container">
    <p>Ya has realizado el voto por esta candidatura</p>
</div>
{% endblock %}