<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="MobileOptimized" content="width" />

    <!-- Title -->
    <title>{{ title }}</title>

    <!-- Estilos Css -->
    <link href="/assets/css" rel="stylesheet">

    <!-- JavaScript -->
    <script defer src="/assets/js"></script>
</head>

<body>
    {% block body %}{% endblock %}
    {% include 'scripts.j2' %}
</body>

</html>