{% extends "body.j2" %}{% block body %}
<main class="main_container">
    <div class="map_container">
        <div id="map"></div>
    </div>
    <div class="inputs_container">
        <input type="text" id="origen" placeholder="Dirección de origen">
        <input type="text" id="destino" placeholder="Dirección de destino">
        <button class="inputs_button" data-action="/ruta" onclick="buscarRuta()">Buscar Ruta</button>
    </div>
</main>
{% endblock %}